venv/
.venv/
__pycache__/
*.pyc
.git
.gitignore
.github/
.husky/
.env
db.sqlite3
staticfiles/
node_modules/
.DS_Store
.ruff_cache/
.coverage
.coveragerc
coverage.xml
htmlcov/
.pre-commit-config.yaml
postgres_data/
media/
docs/
design-system/
*.md
